<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles/ch3/stylesheet.css" />
    <!-- Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <!-- font family -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />

    <title>Chapter 3 | Sultan R</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75">
      <div class="container d-flex">
        <a class="navbar-brand" href="#">LOGO</a>
       
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Work</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="#">About Me</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link" href="#">Sign Up</a>
            <a class="nav-item nav-link" href="#">Login</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid" id="main">
        <h1 class="display-2 fw-bold">PLAY TRADITIONAL GAME</h1>
        <p class="p-4">Experience new traditional game play</p>
        <button type="button" class="btn btn-warning btn-lg text-black fw-bold">
          PLAY NOW
        </button>
      </div>

      <a class="text-decoration-none" href="#the-game">
        <div
          class="d-flex flex-column flex-wrap position-absolute top-100 start-50 translate-middle"
        >
          <p class="fs-5">THE STORY</p>
          <img src="images/ch3/scroll down.svg" alt="the STORY" />
        </div>
      </a>
    </div>
    <!-- end jumbotron -->

    <!-- the game -->
    <div class="thegame container-fluid" id="the-game">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p class="fs-4">What's so special ?</p>
            <h1 class="display-3">THE GAMES</h1>
          </div>

          <!-- image carousel -->
          <div class="col px-0">
            <a
              href="#carouselExampleIndicators"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <img src="images/ch3/switch.svg" alt="" />
            </a>
          </div>
          <div class="col-7">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  class="active btn btn-sm btn-outline-light rounded-circle"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-light rounded-circle"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-light rounded-circle"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-light rounded-circle"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-light rounded-circle"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="images/ch3/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="images/ch3/requirements.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="..." />
                </div>
              </div>
            </div>
          </div>
          <div class="col px-0">
            <a
              href="#carouselExampleIndicators"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <img src="images/ch3/switch (1).svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end thegame -->

    <!-- features -->
    <div class="container-fluid features">
      <div class="d-flex flex-column flex-wrap offset-md-7 position-relative">
        <div class="order-0 py-5">
          <p class="fs-4">What's so special?</p>
          <h1 class="display-3">FEATURES</h1>
        </div>
        <div class="order-1 py-4">
          <div class="row">
            <div
              class="lines border-start border-1 border-light position-absolute ms-2 mt-3"
            ></div>
            <button
              type="button"
              class="btn btn-sm btn-light rounded-circle col-1 me-0 mt-2"
              style="width: 1rem; height: 1rem"
            ></button>
            <h3 class="col-10">TRADITIONAL GAMES</h3>
            <p class="col-8 mx-4">
              If you miss you childhood, we provide many traditional games here
            </p>
            <div class="row py-3">
              <button
                type="button"
                class="btn btn-sm btn-outline-light rounded-circle col-1 me-0 mt-4"
                style="width: 1rem; height: 1rem"
              ></button>
              <h3 class="py-3 col">GAMES SUIT</h3>
            </div>
          </div>
        </div>

        <div class="order-2 py-4 row">
          <button
            type="button"
            class="btn btn-sm btn-outline-light rounded-circle col-1 me-0 mt-4"
            style="width: 1rem; height: 1rem"
          ></button>
          <h3 class="col mt-3">TBD</h3>
        </div>
      </div>
    </div>

    <!-- end features -->

    <!-- System Requirements  -->
    <div class="container-fluid sysreq">
      <div class="d-flex justify-content-center">
        <p class="fs-5">Can My Computer Run this game?</p>
      </div>
      <div class="container">
        <div class="row py-5">
          <div class="col-5">
            <h1 class="text-uppercase display-2">system requirements</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-3 border-end-0 border-bottom-0">
            <h2>OS:</h2>
            <p>Windows 7 64-bit only (No OSX support at this time)</p>
          </div>
          <div class="col-3 border-bottom-0">
            <h2>PROCESSOR:</h2>
            <p>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X@ @2.8 GHZ</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 border-end-0">
            <h2>MEMORY</h2>
            <p>4GB RAM</p>
          </div>
          <div class="col-3">
            <h2>STORAGE</h2>
            <p>8 GB available space</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 border-top-0">
            <h2>GRAPHICS</h2>
            <p>
              NVIDIA GeForce GTX 660 2GB or AMD RADEON HD 7850 2GB DirectX11
              (Shader Model 5)
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- End System Requirements  -->

    <!-- Top Scores  -->
    <div class="container-fluid topscores">
      <div class="container">
        <div class="row my-auto">
          <div class="col-5 left">
            <div class="col">
              <h1 class="display-2">TOP SCORES</h1>
              <p class="fs-4 my-4">
                This top score from various games provided on this platform
              </p>
              <button
                type="button"
                class="btn btn-warning btn-lg text-black fw-bold"
              >
                see more
              </button>
            </div>
          </div>

          <div class="col-6 right ms-auto" style="padding-top: 30vh">
            <div class="col my-5">
              <div
                class="card-top bg-dark rounded-3"
                style="width: 35rem; height: 12rem"
              >
                <div class="card-body">
                  <div class="d-flex flex-row m-0">
                    <img
                      src="images/ch3/Ellipse.png"
                      alt=""
                      class="mt-1 mx-3"
                      style="position: absolute"
                    />
                    <img
                      src="images/ch3/photo (1).png"
                      class="mx-2"
                      alt=""
                      style="position: relative"
                    />
                    <div class="d-flex flex-column my-auto">
                      <h4 class="card-title d-flex ms-4 my-auto">Evan Lahti</h4>
                      <h6
                        class="card-subtitle mx-4 my-auto text-muted text-black"
                      >
                        PC Gamer
                      </h6>
                    </div>
                    <img
                      src="/images/ch3/twitter.svg"
                      alt=""
                      class="d-flex ms-auto my-auto pb-5"
                    />
                  </div>
                  <p class="card-text py-2">
                    “One of my gaming highlights of the year.”
                  </p>
                  <p class="footer text-muted bg-transparent">June 18, 2021</p>
                </div>
              </div>
            </div>
            <div class="row m-5">
              <div
                class="card-top bg-dark rounded-3"
                style="width: 35rem; height: 12rem"
              >
                <div class="card-body">
                  <div class="d-flex flex-row m-0">
                    <img
                      src="images/ch3/Ellipse.png"
                      alt=""
                      class="mt-1 mx-3"
                      style="position: absolute"
                    />
                    <img
                      src="images/ch3/photo.png"
                      class="mx-2"
                      alt=""
                      style="position: relative"
                    />
                    <div class="d-flex flex-column my-auto">
                      <h4 class="card-title d-flex ms-4 my-auto">
                        Jada Griffin
                      </h4>
                      <h6
                        class="card-subtitle mx-4 my-auto text-muted text-black"
                      >
                        Nerdreactor
                      </h6>
                    </div>
                    <img
                      src="images/ch3/twitter.svg"
                      alt=""
                      class="d-flex ms-auto my-auto pb-5"
                    />
                  </div>
                  <p class="card-text my-1">
                    “The next big thing in the world of streaming and survival
                    games.”
                  </p>
                  <p class="footer text-muted bg-transparent">July 10, 2021</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="card-top bg-dark rounded-3"
                style="width: 35rem; height: 12rem"
              >
                <div class="card-body">
                  <div class="d-flex flex-row m-0">
                    <img
                      src="images/ch3/Ellipse.png"
                      alt=""
                      class="mt-1 mx-3"
                      style="position: absolute"
                    />
                    <img
                      src="images/ch3/photo 3.png"
                      class="mx-2"
                      alt=""
                      style="position: relative"
                    />
                    <div class="d-flex flex-column my-auto">
                      <h4 class="card-title d-flex ms-4 my-auto">
                        Aaron Williams
                      </h4>
                      <h6
                        class="card-subtitle mx-4 my-auto text-muted text-black"
                      >
                        Uproxx
                      </h6>
                    </div>
                    <img
                      src="images/ch3/twitter.svg"
                      alt=""
                      class="d-flex ms-auto my-auto pb-5"
                    />
                  </div>
                  <p class="card-text my-1">
                    “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                    Ridiculous.”
                  </p>
                  <p class="footer text-muted bg-transparent">
                    December 24, 2018
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Top Scores  -->

    <!-- subscribe + footer -->

    <div class="container-fluid subscribe">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-5">
            <img src="images/ch3/Group 3.jpg" alt="" class="img-fluid" />
          </div>
          <div class="col-6">
            <h2 class="col-4 fs-2 fw-normal">Want to stay in touch?</h2>
            <h1 class="display-1 text-uppercase">newsletter SUBSCRIBE</h1>
            <p style="font-size: 1.5em">
              In order to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of by us.
              We will send you emails containing information about game. We
              don’t spam.
            </p>
            <form action="" class="row ">
              <div class="col-7 form">
                  <input
                    type="email"
                    class="bg-dark form-control input text-warning input"
                    
                  />
                  <label for="" class="text-light opacity-50">Your email address</label>

              </div>
              <div class="col-4 ">
                <button type="submit" class="btn btn-warning btn-lg text-black fw-bold input-color" >Subscribe now</button>
              </div>
            </form>
              </div>
            </div>

          </div>
        </div>
      </div>
      
      <!-- footer -->
     <footer class="page-footer">
       <div class="container">
         <div class="row py-4 m-auto align-items-center text-uppercase text-end justify-content-end">
           
             <div class="col">

               <h3>
                 <a class="text-white" href="#" style="text-decoration: none;">MAIN</a>
              </h3>
             </div>
             <div class="col-auto">
               <h3>
                 <a class="text-white" href="#" style="text-decoration: none;">about</a>
              </h3>
             </div>
             <div class="col-auto">
               <h3>
                 <a class="text-white" href="#" style="text-decoration: none;">game features</a>
              </h3>
             </div>
             <div class="col-auto">
               <h3>
                 <a class="text-white" href="#" style="text-decoration: none;">System requirements</a>
              </h3>
             </div>
             <div class="col-auto">
               <h3>
                 <a class="text-white" href="#" style="text-decoration: none;">Quotes</a>
              </h3>
             </div>
             <div class="col-auto">

               <a class="" href="#"><img src="images/ch3/facebook.svg" alt=""></a>
             </div>
             <div class="col-auto">

               <a class="" href="#"><img src="images/ch3/twitter-white.svg" alt=""></a>
             </div>
             <div class="col-auto">
               <a class="" href="#"><img src="images/ch3/Vector.svg" alt="" style="position: relative;"> <img src="images/ch3/cursor.png" alt="" style="position:absolute;"></a>
            </div>
            <div class="col-auto">
              <a class="" href="#"><img src="images/ch3/twitch.svg" alt=""></a>
            </div>
         </div>

         <div class="container">

           <div class="row my-auto border-top border-dark text-end" id="footer">
             <div class="col text-start col-8">
  
               <p class="opacity-50"> © 2018 Your Games, Inc. All Rights Reserved</p>
             </div>
             <div class="col-auto justify-content-end">
              <h4 class="opacity-50"><a class="text-white" href="#" style="text-decoration: none;">Privacy Policy |</a></h4> 
             </div>
             <div class="col-auto justify-content-end">
              <h4 class="opacity-50"><a class="text-white" href="#" style="text-decoration: none;"> Terms of Services |</a></h4> 
             </div>
             <div class="col-auto justify-content-end">
              <h4 class="opacity-50"><a class="text-white" href="#" style="text-decoration: none;"> Code of Conduct</a></h4> 
             </div>
         </div>

         </div>
       </div>
     </footer>

      </div>
    </div>
    <!-- footer -->
    <!-- subscribe + footer -->
  </body>
</html>
