<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- font family -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />

    <title>BINAR CHAPTER 4 - SULTAN R</title>
  </head>

  <body>
    <!-- NAV -->
    <div class="container-fluid d-flex">
      <div class="navbar">
        <div class="nav-item p-3">
          <a href="#" class="text-decoration-none">
            <img src="images/ch4/back.png" alt="" width="38px" height="40px" />
          </a>
        </div>
        <div class="nav-item p-3">
          <img
            src="images/ch4/logo 1.png"
            alt="LOGO"
            width="48px"
            height="48px"
          />
        </div>
        <div class="nav-item p-3">
          <h1 class="fw-bolder" style="color: #f9b23d">ROCK PAPER SCISSORS</h1>
        </div>
      </div>
    </div>
    <!-- GAME -->
    <div
      class="container-fluid game-mode d-flex justify-content-center my-5 flex-wrap"
      id="game"
    >
      <div class="d-flex flex-column mx-5 player" id="player1">
        <h2 class="fw-bolder col">PLAYER</h2>
        <img
          src="images/ch4/batu.png"
          alt="BATU"
          class="suit"
          id="batu"
          value=""
        />
        <img
          src="images/ch4/gunting.png"
          alt="GUNTING"
          class="suit"
          id="gunting"
        />
        <img
          src="images/ch4/kertas.png"
          alt="KERTAS"
          class="suit"
          id="kertas"
        />
      </div>

      <div class="flex-column my-auto">
        <img src="images/ch4/VS.png" alt="result" class="result" id="result" />
      </div>

      <div class="d-flex flex-column mx-5 com" id="com1">
        <h2 class="fw-bolder col">COM</h2>
        <img src="images/ch4/batu.png" alt="BATU" class="suit" id="batu" />
        <img
          src="images/ch4/gunting.png"
          alt="GUNTING"
          class="suit"
          id="gunting"
        />
        <img
          src="images/ch4/kertas.png"
          alt="KERTAS"
          class="suit"
          id="kertas"
        />
      </div>
    </div>

    <div class="refresh d-flex justify-content-center">
      <img src="images/ch4/refresh.png" alt="" width="77px" height="71px" />
    </div>
  </body>
  <style>
    body {
      background-color: #9c835f;
      font-family: "Open Sans", sans-serif;
    }

    .player,
    .refresh {
      cursor: pointer;
    }
    .player,
    .com {
      gap: 10px;
    }

    .suit {
      height: 120px;
      width: 92px;
      padding: 10px;
    }
    .result {
      height: 100%;
      width: 100%;
    }
  </style>
  <!-- Javascript -->
  <script src="script/ch4/script.js"></script>
</html>
