<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
      <% for (let i = 0; 1 < data.length; i++){%> <%}%>
      <tr>
        <td><%= data[i].id%></td>
        <td><%= data[i].Username%></td>
        <td><%= data[i].Password%></td>
        <td><a href="">Edit</a><a href="">Delete</a></td>
      </tr>
    </table>
    <button>Create Data</button>
  </body>
</html>
