* {
  font-family: "Open Sans", sans-serif;
  color: white;
  letter-spacing: 0.1rem;
  font-size: 12px;
}

.landing {
  background-image: linear-gradient(135deg, #472c87, #ab598b, #c887e6);
  height: 100vh;
}
